<!DOCTYPE html>
<html>

  <head>
    <title>Ragistration Form</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      sup {
        color: red;
      }

      .error,
      .parsley-required,
      .parsley-type {
        color: red;
        font-size: 14px;
        list-style: none;
      }

    </style>
  </head>

  <body>
    <div class="container mt-5 mb-5">


      <div class="card ">&nbsp;&nbsp;

        <div class=" p-4">

          <form action="/edit/<%=data[0].id%>" method="post" id="form" autocomplete="off" data-parsley-validate>
            <h1>Registration Form id: <%= data[0].id %> </h1>
            <hr><br>
            <div class="form-group">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="first-name"><b>First Name<sup>*</sup></b></label>
                  <input type="text" class="form-control" name="first_name" id="first_name" value="<%= data[0].first_name %>" data-parsley-pattern="[a-zA-Z]*" data-parsley-required>
                  <% if(locals.errors && locals.errors.first_name){ %>
                    <div class="error">
                        <%= errors.first_name[0] %>
                    </div>
                    <% } %>
                </div>

                <div class="form-group col-md-6">
                  <label for="last-name"><b>Last Name<sup>*</sup></b></label>
                  <input type="text" class="form-control" name="last_name" id="last_name" value="<%= data[0].last_name %>" data-parsley-pattern="[a-zA-Z]*" data-parsley-required>
                  <% if(locals.errors && locals.errors.last_name){ %>
                    <div class="error">
                        <%= errors.last_name[0] %>
                    </div>
                    <% } %>
                </div>
              </div>
              
              <label for="email"><b>Email<sup>*</sup></b></label>
              <input type="email" class="form-control" name="email" id="email" value="<%= data[0].email %>" data-parsley-required="true">
              <% if(locals.errors && locals.errors.email){ %>
                <div class="error">
                    <%= errors.email[0] %>
                </div>
                <% } %>
            <br>
              <label for="phone"><b>Mobile Number<sup>*</sup></b></label>
              
                <input type="tel" class="form-control col-9" id="phone" name="phone" size="10" maxlength="10" pattern="[0-9]*" value="<%= data[0].phone %>" data-parsley-required="true">
                <% if(locals.errors && locals.errors.phone){ %>
                    <div class="error">
                        <%= errors.phone[0] %>
                    </div>
                    <% } %>

                    <br>

                    
                    <br>
              <div class="d-grid gap-2 ">
                <input type="submit" class="btn btn-success" value="Submit">
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
</html>